doctype html
html(lang="en")
	head
		link( rel="stylesheet" type="text/css" href="../css/stylesheets/main.css" )
		script( data-main="../scripts/figure.js" src="../../../bower_components/requirejs/require.js" )
	body
		div.graph-wrap
			div#graph